*{
    font-style: calibri;
   }
   th{
     background-color: lightgray;
   }

   table,th,td {
     border: 1px solid black;
     border-collapse: collapse;
   
   }
   th,td{
     width: 25px;
     font-size: 18px;
     text-align: center;
     padding-left: 5px;
     padding-right: 5px;
   }
   